*{
    margin: 0px;
    font-family: 'Oswald' , 'sans-serif';
    color: rgb(206, 197, 197);
}

body {
    width: 960px;
    margin: 0 auto;
    background-color: rgb(122, 122, 148);
}



header {
    margin-top: 1rem;
    text-align: center;
    
}

header img {
    height: 250px;
}

main {
  
}

section {
    margin: 2rem 0;
}

#bio {
    display: flex;
    
}

#bio img{
    height: 205px;
}

#bio-choose {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .5rem;
}


#name-date {
    display: flex;
    justify-content: space-between;
}

#choose-list {
    background-color: rgb(69, 69, 80);
    padding: 1rem 2rem;
    font-size: .85rem;
}

ul {
    padding: 10px 0px 0px 18px;
}

#tech{
    display: flex;
    justify-content: space-between;
}

#tech img {
    height: 10rem;
}

figure {
    text-align: center;
    width: 12rem;
}

figcaption {
    background-color: rgba(69, 69, 80, .5);
    position: relative;
    top: -1.5rem;
}

h2, h4 {
    color: white;
}

#interest div {
    background-color: rgb(69, 69, 80);
    padding: 1rem;
    margin-top: 1rem;
}

.interest-text{
    margin-top: .7rem;
}

#copyright {
    background-color: rgb(69, 69, 80);
    display: flex;
    justify-content: center;
}

#C0F4FF